* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

#canvas-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.canvas {
    position: absolute;
    background-color: rgba(0, 0, 0, 0%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#settings-show-button {
    z-index: 0;
    position: absolute;
    right: -9vmin;
    top: 50vh;
    transform: translateY(-50%);
    width: 11.7vmin;
    height: 13vmin;
    border: 0.3vmin solid rgb(255, 255, 255);
    border-radius: 40%;
    background-color: rgb(11, 0, 34);
    box-shadow: inset 0 0 0.8vmin 0.1vmin white;
    color: rgb(109, 136, 255);
}
#settings-show-button::before {
    content: '<';
    position: absolute;
    top: 50%;
    left: 1%;
    right: -15vmin;
    transform: translateY(-50%);
    font-weight: 1200;
    font-size: 4vmin;
}
#settings-show-button:hover {
    background-color: rgb(23, 6, 58);
    color: rgb(184, 197, 255);
    box-shadow: inset 0 0 0.8vmin 0.3vmin rgb(126, 150, 255), 0 0 1vmin 0.5vmin rgb(87, 118, 255);
    border-color: rgb(208, 217, 255);
}
#settings-menu {
    padding: 5vh 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0vmin;
    width: 25vmin;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    z-index: 1;
}
hr {
    border: 0.1vh solid white;
    color: white;
    width: 98%;
    margin: 0.5vh 0;
}
@keyframes settings-forward {
    from {
        right: -25vmin;
    }
    to {
        right: 0;
    }
}
@keyframes settings-backwards {
    from {
        right: 0;
    }
    to {
        right: -25vmin;
    }
}
#sub-settings-container {
    display: grid;
    width: 100%;
    height: 65vh;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 25vmin);
    overflow: hidden;
    word-break: keep-all;
}
.sub-settings {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    z-index: 1;
}
#arc-settings {
    grid-column: 1;
    grid-row: 1;
}
#shadow-settings {
    grid-column: 2;
    grid-row: 1;
}

#settings-hide-button {
    z-index: 2;
    position: absolute;
    bottom: 10vh;
    width: 100%;
    height: 5vh;
    background-color: rgb(27, 79, 124);
    text-align: center;
    line-height: 5vh;
    color: white;
    font-size: 4vh;
    font-weight: 600;
    user-select: none;
    text-shadow: 0 0 1vmin white;
}
#settings-hide-button:hover {
    background-color: rgb(22, 61, 95);
    box-shadow: inset 0 0 1vmin 0.4vmin rgb(0, 44, 82);
    text-shadow: 0 0 0.5vmin white;
}
input[type='range'] {
    margin: 0;
    width: 80%;
}

input[type='checkbox'] {
    width: 2vh;
    height: 2vh;
}
#save-brush-button {
    position: relative;
    height: 5.5vh;
    margin-top: 2.5vh;
    width: 80%;
    font-size: 2.5vh;
    background-color: rgb(98, 98, 255);
    box-shadow: 0 0 0.1vmin 0.2vmin rgb(33, 33, 223), inset 0 0 0.2vmin 0.1vmin rgb(10, 10, 110);
    border: none;
    border-radius: 1vmin;
    color: white;
    line-height: 5vh;
    font-weight: 500;
    text-shadow: 0 0 0.1vmin white;
}
#save-brush-button:hover {
    background-color: rgb(73, 73, 255);
    box-shadow: 0 0 0.4vmin 0.3vmin rgb(13, 13, 102), inset 0 0 0.8vmin 0.5vmin rgb(11, 11, 138);
    text-shadow: 0 0 0.3vmin white;
}
label {
    font-weight: 700;
    user-select: none;
    text-align: center;
    font-size: 2.5vh;
    color: white;
    padding: 0.5vh 0;
}
#color-picker {
    height: 4vh;
    width: 80%;
}
#aspects {
    box-sizing: border-box;
    border: 0.25vh solid rgb(195, 178, 255);
    border-radius: 0.3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
#aspects button {
    height: 4vh;
    width: 50%;
    background-color: rgb(98, 98, 255);
    background-color: #000000;
    box-sizing: border-box;
    border: none;
    color: white;
    line-height: 4vh;
    font-size: 2vh;
    font-weight: 500;
    text-shadow: 0 0 0.2vh white;
}
#aspects button:first-of-type {
    border-right: 0.3vh solid rgb(56, 48, 211);
}
#aspects button:hover {
    background-color: rgb(73, 73, 255);
    box-shadow: inset 0 0 0.6vmin 0.2vmin rgb(15, 15, 177);
    text-shadow: 0 0 0.3vh white;
}
#saved-brushes {
    box-sizing: border-box;
    box-shadow: inset 0 0 0.8vh 0.7vh black;
    margin-top: 2vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 25%);
    background-color: rgb(44, 44, 136);
}
.saved-brush {
    background-color: rgb(98, 98, 255);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 5vh;
    font-size: 3vh;
    box-shadow: inset 0 0 1vh 0.3vh black, 0 0 1vh 0.3vh black;
    text-shadow: 0 0 0.6vmin black, 0 0.2vmin 0.6vmin black;
    user-select: none;
}
.saved-brush:hover {
    z-index: 2;
    background-color: rgb(73, 73, 255);
    box-shadow: inset 0 0 1vmin 0.5vmin rgb(0, 0, 75), 0 0 0.6vh 0.2vh rgb(0, 0, 75);
}
.saved-brush-selected,
.saved-brush-selected:hover {
    border-radius: 1vmin;
    box-shadow: inset 0 0 2vmin 0.2vmin rgb(43, 19, 82), inset 0 0 1vmin 1vmin rgb(17, 17, 51), 0 0 0.6vh 0.4vh rgb(0, 0, 75);
    z-index: 3;
    font-weight: 900;
}
