* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
#canvas-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.canvas {
    position: absolute;
    background-color: rgba(0, 0, 0, 0%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#settings-show-button {
    z-index: 0;
    position: absolute;
    right: -9vmin;
    top: 50vh;
    transform: translateY(-50%);
    width: 11.7vmin;
    height: 13vmin;
    border: 0.3vmin solid rgb(255, 255, 255);
    border-radius: 40%;
    background-color: rgb(11, 0, 34);
    box-shadow: inset 0 0 0.8vmin 0.1vmin white;
    color: rgb(109, 136, 255);
}
#settings-show-button::before {
    content: '<';
    position: absolute;
    top: 50%;
    left: 1%;
    right: -15vmin;
    transform: translateY(-50%);
    font-weight: 1200;
    font-size: 4vmin;
}
#settings-show-button:hover {
    background-color: rgb(23, 6, 58);
    color: rgb(184, 197, 255);
    box-shadow: inset 0 0 0.8vmin 0.3vmin rgb(126, 150, 255), 0 0 1vmin 0.5vmin rgb(87, 118, 255);
    border-color: rgb(208, 217, 255);
}
#settings-menu {
    padding: 5vmin 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0vmin;
    width: 25vmin;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    z-index: 1;
}
#arc-settings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    z-index: 1;
}
@keyframes settings-forward {
    from {
        right: -25vmin;
    }
    to {
        right: 0;
    }
}
@keyframes settings-backwards {
    from {
        right: 0;
    }
    to {
        right: -25vmin;
    }
}
#settings-hide-button {
    z-index: 2;
    position: absolute;
    bottom: 10vh;
    width: 100%;
    height: 5vh;
    background-color: rgb(27, 79, 124);
    text-align: center;
    line-height: 5vh;
    color: white;
    font-size: 4vh;
    font-weight: 600;
    user-select: none;
    text-shadow: 0 0 1vmin white;
}
#settings-hide-button:hover {
    background-color: rgb(22, 61, 95);
    box-shadow: inset 0 0 1vmin 0.4vmin rgb(0, 44, 82);
    text-shadow: none;
}
input[type='range'] {
    width: 80%;
}
input[type='button'] {
    height: 4vmin;
    margin-top: 2.5vmin;
    width: 80%;
    font-size: 2.5vmin;
    background-color: rgb(98, 98, 255);
    box-shadow: 0 0 0.1vmin 0.4vmin rgb(33, 33, 223);
    border: none;
    border-radius: 3vmin;
    color: white;
    line-height: 4vmin;
    font-size: 3vmin;
    font-weight: 500;
    text-shadow: 0 0 0.1vmin white;
}
input[type='button']:hover {
    background-color: rgb(73, 73, 255);
    box-shadow: 0 0 0.6vmin 0.5vmin rgb(15, 15, 177);
    text-shadow: 0 0 0.3vmin white;
}
label {
    font-weight: 700;
    user-select: none;
    text-align: center;
    font-size: 2.5vmin;
    color: white;
    padding-top: 2.5vmin;
}
#color-picker {
    margin-top: 2vh;
    width: 80%;
}
#aspects {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
#aspects button {
    height: 4vh;
    width: 50%;
    font-size: 2.5vmin;
    background-color: rgb(98, 98, 255);
    box-sizing: border-box;
    border: none;
    border-left: 0.3vh solid rgb(15, 15, 15);
    color: white;
    line-height: 4vmin;
    font-size: 2vmin;
    font-weight: 500;
    text-shadow: 0 0 0.1vmin white;
}
#saved-arcs {
    box-sizing: border-box;
    box-shadow: inset 0 0 0.8vh 0.7vh black;
    margin-top: 2vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 25%);
    background-color: rgb(44, 44, 136);
}
.saved-arc {
    background-color: rgb(98, 98, 255);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 5vmin;
    font-size: 3vh;
    box-shadow: inset 0 0 1vh 0.3vh black, 0 0 1vh 0.3vh black;
    user-select: none;
}
.saved-arc:hover {
    z-index: 3;
    background-color: rgb(73, 73, 255);
    box-shadow: inset 0 0 1vmin 0.5vmin rgb(0, 0, 75), 0 0 0.6vh 0.6vh rgb(0, 0, 75);
    text-shadow: 0 0 0.3vmin white;
}
